# Environment For Automation User
SUPPLIER_ID=381877101
SUPPLIER_NAME="harish iyer"

# System Ports & Protocol
PORT=3000

BASE_URL=https://supplierfirst.ril.com

# Frontend Prefixes (Required for CRA)
REACT_APP_biofuelcircle_API_BASE_URL=
REACT_APP_biofuelcircle_API_TOKEN=
REACT_APP_SCN_API_SECRET_KEY=
