# Environment For Automation User
SUPPLIER_ID=381877101
SUPPLIER_NAME="harish iyer"
# System Ports & Protocol
PORT=3000
BASE_URL=https://supplierfirst.ril.com
# Frontend Prefixes (Required for CRA)
REACT_APP_biofuelcircle_API_BASE_URL=https://458e-2401-4900-1c9a-77fa-e15c-a165-9d98-c1e0.ngrok-free.app/api/v1
REACT_APP_biofuelcircle_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjozMzUyNDI2MzA5LCJpYXQiOjE3NzU2MjYzMDksImp0aSI6ImViYjg5NWQwZGRiNjQ4MWRhN2QzYzcxMTMxNmFjYzdkIiwidXNlcl9pZCI6NH0.-CqoYdftGwLBqiAQVS1o0idYQslfkkx8ZamEvjOVVaY
REACT_APP_SCN_API_SECRET_KEY=rlFqlxGQf33x59YZz1fSqVaOmXxuAMjwijIaHn4LlCICHP7qArsTCnZ0SQHBE6by1StrxbFlcwYLy6Vziz4bwS9jeCUexJwsTTTt